.productBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productBox {
    padding: 2rem;
    background-color: aliceblue;
    margin-bottom: 3rem;
    width: 80%;
}